@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가 커스텀 전역 스타일 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-start-rgb))
  );
}
